body {
    background: rgb(165, 218, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    color: #C9302C;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.well {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

h4 {
    color: rgb(10, 190, 166);
    font-size: 30px;
   
}

li {
    font-weight: bolder;
}
